* {
  margin: 0;
  padding: 0;
}
@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url(images/clouds2.jpg);
  animation: animatedBackground 10s linear infinite;
  display: flex;
  justify-content: center;
  overflow: none;
}

button {
  color: #000000;
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin: 30px;
  outline: none;
}
button:hover {
  transform: scale(1.5);
  background-color: gray; 
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  /* background-color:#7be1ff; */
  /* width: 560px;  */
  /* height: 400px;  */
	background-position: 0px 0px;
	background-repeat: repeat-x;
  animation: 5s ease-out 0s 1 slideInFromTop;
}
.game-title {
  text-align: center;
  color: #ffffff;
  font-size: 110px;
  background-color: #dfae7c;
  width: 100%;
  margin-top: 150px;
  padding: 70px 150px;
  box-sizing: border-box;
	border: 10px dashed #B25900;
	border-radius: 2%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  
}
.game-title2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  background-color: #dfae7c;
  margin-top: 100px;

  padding: 10px;
  width: 100%;

  box-sizing: border-box;
	border: 10px dashed #B25900;
	border-radius: 2%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  
}
.start-button {
  color: #000000;
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  /* transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
   */
}
.start-button:hover {
  transform: scale(1.5);
  background-color: gray; 
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.display-game {
  display: none;
  position: absolute;
  background: rgba(42,79,143, 0.3);
  /* left: 0%; */
  top: 0;
  /* bottom: -100%; */
  width: 50%;
  height: 50%;
  overflow: none;
  padding: 10px 50px 250px 50px;
  margin-top: 40px;
  border: 5px solid #ffffff;
  /* animation: 5s ease-out 0s 1 slideInFromBottom; */
  /* transition: all 2s linear;
  transition-delay: .2s; */
}
.direct {
  display: flex;
  justify-content: space-between;
}
.score-name {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 150px;
  margin-bottom: 50px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.underscore-greet {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 150px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.main-game {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}
.hangman-image {
  width: 250px;
  height: 250px;
  /* margin-right: 30px; */
  background-color: #c1cdc1;
  border: 5px solid #ffffff;
  border-radius: 50%;
  padding: 50px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.random-word {
  display: flex;
  font-size: 60px;
  justify-content: space-evenly;
  margin: 10px 30px 250px 10px;
  padding: 50px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

}
.unknown {
  margin: 2px;
}

.keypad {
  display: none;
}
.letter {
  color: #000000;
  font-size: 10px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin: 5px;
}
.alert{
  display: none;
  font-size: 30px;
  color: #ffffff;
  background-color: #cc0000;
  padding: 20px;
  z-index: 5;
  border: 5px solid #ffffff;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

}
@media only screen and (max-width: 568px) {
  .game-title {
    
    font-size: 30px;
    height: auto;
    width: auto;
    text-align: center;
    /* padding: 100px; */
    margin: 100px 0 0 30px ;
    /* overflow: hidden; */
   
    
  }
  .game-title2 {
    font-size: 20px;
    height: auto;
    width: auto;
    text-align: center;
    margin: 30px 0 0 30px ;

    /* margin: 150px 100px 0 100px; */
    /* padding-right: 20px; */
    /* overflow: hidden; */
  }
  .start-button {
    margin: 30px 0 0 30px ;
  }
  .display-game {
   
    position: relative;
    background: rgba(42,79,143, 0.3);
    height: 600px;
    
    padding: 1px 10px 100px 10px;
    margin: 10px;
   
    /* animation: 5s ease-out 0s 1 slideInFromBottom; */
    
  }
  .score-name {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 50px;
    margin-bottom: 100px;
  }
  .underscore-greet {
    font-size: 20px;
    text-align: center;
    width: 70px;
    padding: 5px;
  }
  .main-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-direction: column; */
  }
  .hangman-image {
    width: 50px;
    height: 50px;
    padding: 50px;
  }
  .random-word {
    
    font-size: 20px;
    
    margin: 10px 30px 50px 10px;
    padding: 10px;
    
  
  }
  .keypad-activator {
    margin: 0;
    font-size: 10px;
  }
  .alert{
    font-size: 10px;
   
    padding: 10px;
    
  
  }
  .restart {
    font-size: 10px;
  }
}
